# Go
proxy/vendor/
*.test
*.out

# binários compilados
proxy/classifier

# dependências C
classifier/lib/
classifier/*.o
classifier/*.a

# IDE
.vscode/
.idea/

# env local
.env

# Secrets (não commitar)
k8s/overlays/*/secrets/
k8s/**/*secrets.yaml
k8s/overlays/*/secrets.yaml

# WSL FIles
*Zone.Identifier


DOCUMENTATION.md
POST_REBOOT.md
