# Go
proxy/vendor/
*.test
*.out

# Certificados TLS
proxy/certs/

# Certificados e chaves sensíveis
*.pem
*.crt
*.key
*.csr

# Python venv
venv/

# binários compilados
proxy/classifier
proxy/dpipot-proxy
proxy/proxy-bin
classifier/classifier

# Go vendor
classifier/vendor/

# dependências C
classifier/lib/
classifier/*.o
classifier/*.a

# IDE
.vscode/
.idea/

# env local
.env

# Secrets (não commitar)
k8s/overlays/*/secrets/
k8s/overlays/*/secrets/*.yaml
k8s/overlays/*/logstash-secrets.yaml
k8s/overlays/*/secrets.yaml

# WSL FIles
*Zone.Identifier


DOCUMENTATION.md
POST_REBOOT.mdcmd
cmd
