apiVersion: v1
kind: Secret
metadata:
  name: logstash-elasticsearch-secrets
  namespace: dpipot
type: Opaque
stringData:
  ELASTICSEARCH_HOST: "https://10.0.0.1:9200"
  ELASTICSEARCH_USER: "USER_ELASTIC"
  ELASTIC_PASSWORD: "SUA_SENHA_AQUI"
---
apiVersion: v1
kind: Secret
metadata:
  name: elastic-certs
  namespace: dpipot
type: Opaque
data:
  ca.crt: "BASE64_DO_CERTIFICADO_AQUI"